<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VC_UI.Properties.Settings.testmeConnectionString"
            connectionString="Data Source=ASLAM;Initial Catalog=testme;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VC_UI.Properties.Settings.aslambConnectionString"
            connectionString="Data Source=ASLAM;Initial Catalog=aslamb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>